.texto{
    width: 100vw;
    height: 100vh;
    background: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.centralizado{
    padding: 5px;
    width: 500px;
    height: 500px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 18px;
    color: orange;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}